body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  font-family: 'Space Grotesk', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: url(../img/bg-header.jpg);
  padding: 30px;
  color: #E3F4FF;
}

.section-dark {
  background: #060E17;
}

footer {
  background: #060E17;
}